.cb{
    width: 50rem;
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0 auto;
}
.square{
    width: 7rem;
    height: 7rem;
}

.white{
    background-color: black;
    font-size: 4rem;
    text-align: center;
}

.black{
    background-color:white;
    font-size: 4rem;
    text-align: center;
}
